@model EmployeeSkillsManagement.Models.ViewIndex
    
@{
    ViewData["Title"] = "Employee Page";
}
 <div id="PlaceHolderHere"></div>
 @* <partial name="_Notification" /> *@

<div class="border mt-3 mb-3 width-50px">
    <a  asp-controller="Employee" asp-action="Create">Click to add Employee</a>
</div>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Date of Joining
            </th>
            <th>
                Designation
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var obj in Model) *@
        @foreach (var obj in Model.Employees.Select((value,i) => new {i, value}))
        
        {
            <tr>
                <td >
                   @((@obj.i)+1)
                </td>
                <td >
                    @obj.value.FirstName
                </td>
                <td >
                    @obj.value.LastName
                </td>
                <td >
                    @obj.value.DOJ.Date.ToString("dd/MM/yyyy")
        
                </td>
                <td >
                    @obj.value.Designation
                </td>
                <td >
                    @obj.value.Email
                </td>
                 <td>
                    <div>
                     <a class="btn btn-sm btn-info" asp-controller="EmployeeSkill" asp-action="Index" asp-route-id="@obj.value.Id"> 
                        View Skills</a>
                       <a class="btn btn-sm btn-warning "  asp-controller="EmployeeSkill" asp-action="Create" asp-route-id="@obj.value.Id"> 
                       Assign Skills</a>
                        <a asp-controller="Employee" asp-action="Edit" asp-route-id="@obj.value.Id" 
                        class="btn btn-sm btn-success "> Edit</a>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.value.Id" 
                        class="btn btn-sm btn-danger "> Delete</a>
                    </div>
                </td> 
            </tr>
        }
    </tbody>
</table>

 @* View Assign Skill *@

 @* <div class="madal fade modal" id="ViewSkills">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-info modal-title">View Skills</h1>
              <button class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped mx-3" style="width:100%">
          <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Skill
            </th>
            
            <th>
                Level
            </th>
            <th>
                Experience
            </th>
        </tr>
    </thead>
    <tbody>
         @foreach (var obj in Model.Skills) 
        
        {
            <tr>
                <td >
                    <a asp-controller="EmployeeSkill" asp-action="Delete" asp-route-id="@obj.Id" 
                        class="btn btn-sm btn-danger "> Remove</a>
                </td>
                
                <td >
                    @obj.Skills
                </td>
                <td >
                  
                </td>
                <td >
                    
                </td>
            </tr>
        }
    </tbody>
</table>
            </div>
           
        </div>
    </div>
</div> 

<script>
     function ViewSkillFunction( id) {
        
         $('#ViewSkills').modal('show');
          }    
</script>  *@


@* Assign Skill to Employee *@


@* <div class="madal fade modal" id="AssignSkills">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="text-info modal-title">Assign Skills</h1>
              <button class="close text-danger" data-dismiss="modal">&times;</button>
            </div>
             <div asp-validation-summary="All"></div>
            @using (Html.BeginForm("Create","EmployeeSkill", FormMethod.Post))
          {
            <div class="modal-body">
               
                    <div class="form-group">
                    @Html.DisplayNameFor(s => s.EmployeeSkills.Skill.Skills)

                      @Html.DropDownListFor(s=> s.EmployeeSkills.SkillId, new SelectList(Model.Skills,"Id","Skills"),"Select....",new{@class = "form-control"})
                      <span asp-validation-for="@Model.EmployeeSkills.Skill.Skills" class="text-danger"></span>
                    </div>
                    <div class="form-group">  
                      <label >Select Level</label>  
                   @Html.DropDownList("Expert_Level", new List<SelectListItem>  
                   {  
                   new SelectListItem { Text = "Fresher", Value="Fresher" },  
                   new SelectListItem { Text = "Developer", Value="Developer" },
                   new SelectListItem { Text = "SeniorDeveloper", Value="SeniorDeveloper" },
                      new SelectListItem { Text = "Architect", Value="Architect" }
                   }, "Select Level", new { @class = "form-control" })  
                  <span asp-validation-for="@Model.EmployeeSkills.Expert_Level" class="text-danger"></span>
                  </div> 
                 <div class="form-group">
                 @Html.DisplayNameFor(s => s.EmployeeSkills.Experience)

                  @Html.DropDownListFor(s=> s.EmployeeSkills.Experience, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }),"Select....",new { @class = "form-control"})
                  <span asp-validation-for="@Model.EmployeeSkills.Experience" class="text-danger"></span>
                </div>
                 
               
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success"  >Save</button>
            </div>
          }
        </div>
    </div>
</div> 


 <script>
     function AssignSkillFunction( id) {
       
         $('#AssignSkills').modal('show');
          }    
</script>   *@


@section Scripts{
    @{
      <partial name="_ValidationScriptsPartial" />
    }
}





